.user-avatar {
  text-align: center;
  margin: 0 auto 20px auto;
  display: block;
}

.user-data {
  text-align: center;
  @include breakpoint(sm) {
    text-align: left;
  }
}

.user-name {
  text-align: center;
}