// colors
$white: #ffffff;
$silver-light: #F8F8F8;
$silver-border: #DDDDDD;
$blue: #108ee9;
$dark: #444444;
$dark-medium: #AAAAAA;
$petrol: #2D557C;
$petrol-light: #54749A;

// Breakpoints
@mixin breakpoint($size) {
  @if $size == xs {
    @media (max-width: 576px) { @content ; }
  }
  @else if $size == sm {
    @media (min-width: 576px) { @content ; }
  }
  @else if $size == md {
    @media (min-width: 768px) { @content ; }
  }
  @else if $size == lg {
    @media (min-width: 992px)  { @content ; }
  }
  @else if $size == xl {
    @media (max-width: 1200px)  { @content ; }
  }
  @else if $size == xxl {
    @media (max-width: 1600px)  { @content ; }
  }
}